body {
    font-family: '"Helvetica Neue LT ESO", "Helvetica Neue", Helvetica, Arial, sans-serif';
    font-weight: normal;
}

#alma-mainnavigation-wrapper {
    height:125px;
    display: block;
    background-color: #00437c;
}

/*alma silhouette */
#content-header > .container {
    margin-top: 0px;
    background-image: url(../../alma/images/alma-silhouette.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

#content-header {
    margin-top: 0px;
    margin-bottom: 0px;
}

#content-header > .container > #portal-header {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 125px;
}

.outer-wrapper > .container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#alma-logo-div {
    display: inline-block;
    background-color: #00437f;
    vertical-align: top;
    height: 125px;
}

#alma-news-div > * .portletItem > * {
    text-shadow: 0 2px 3px rgba(0, 40, 60, 0.5);
    font-weight: 400;
}

#portal-breadcrumbs {
    display: none;
}

/* dropdown menus */
#portal-globalnav-wrapper > .container {
    width: 100%;
} 

/* central content area */
#visual-portal-wrapper > div > div.container {
         width: 100%;
}

#portal-breadcrumbs > div {
         width: 100%;
}

div .row {
    margin-left: 0px;
    margin-right: 0px;
}

#main-container.home {
    border-style: solid;
    border-width: 0px;
    display: inline-block;
    width: 70%;
    margin: 0px;
    margin-left: -.3em;
}

#alma-sci-hi  {
    display: none;   
    background-color: #00437f;
}

#alma-sci-hi.home {
    border-style: solid;
    border-width: 0px;
    display: inline-block;
    width: 29%;
    height: 100%;
    vertical-align: top;
    margin: 0px;
    background-color:  #00437c;
    color: white;
    text-align: left;
    padding-left: 14px;
    padding-right: 20px;
    padding-top: 2px;

}

#alma-sci-hi.home > * {
    align: left;
}

#sci-hi-figure {
    margin-left: 0px;
}

#alma-news-div  {
    display: none;   
}

#alma-news-div.home {
    display: block;
    border-style: solid;
    border-width: 0px;
    width: 100%;
    height: 30em;
    overflow: overlay; 
    margin-top: 0em;
    background-color: #e7e6e6;
    
}


#alma-central.home{
    width: 100%;
    left: 0px;
}

#alma-col1.home {
    display: none;
}

#alma-news-div .portletWrapper.home {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

#alma-news-div .portletWrapper.home > * div {
    background: rgba(76, 175, 80, 0.1);
    border-top: 0px;
    background-image: url(../../alma/images/eu-arc-nodes.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* top of news portlet */
#alma-news-div  .portletWrapper.home .portlet .portletHeader  {
    background: rgba(231, 230, 230, 0.1);
        border-bottom: 0px;
        font-weight: normal;
}

/* bottom of news portlet */
#alma-news-div  .portletWrapper.home .portlet .portletFooter  {
    background: rgba(231, 230, 230, 0.1);
    background-colorxx: #00437f;
    box-shadow: 0 0;
    border-top: 0px;
}

ul#portal-globalnav.plone-nav li a {
    /*font-size: 14px;   */
}

#portal-breadcrumbs {
    margin: 0px;
}

#mainnavigation > nav.plone-navbar {
    margin-bottom: 0px;
}

header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

header.portletHeader {
    margin: 0px;
}

#portletWrapper  > section > header {
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 2px;
    padding-left: 15px;
    margin: 0px;
}

#sci-hi-img {
    width: 100%;
}

#alma-highlights h3 {
    margin-top: 0px;
}

#sci-hi-figure{
    float: right;
    margin: 0 0 6px 0px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
    overflow: hidden;
}

#sci-hi-caption {
    color: white;
    font-size: x-small;
    font-family: monospace;
}

header > .documentFirstHeading {
    font-size: large;
    font-weight: normal;
    border-bottom: 0px
}

#alma-news-div  ul , #alma-news-div  ol  {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* observatory news */
#alma-news-div .portlet.portletCollection.portlet-collection-observatory-news .portletContent {
    height: 22em;
    background-image: url(../../alma/images/observatory-news.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#alma-news-div .portlet.portletCollection.portlet-collection-observatory-news .portletContent .portletItem a {
    color: white;
}

/* eu arc news */
#alma-news-div .portlet.portletCollection.portlet-collection-eu-arc-news .portletContent {
    height: 22em;
    background-image: url(../../alma/images/eu-arc-nodes.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0px;
    margin-bottom: 0px;
}
#alma-news-div .portlet.portletCollection.portlet-collection-observatory-news .portletContent .portletItem a {
    color: white;
}

/* nrao news */
#alma-news-div .portlet.portletRss .portletContent {
    height: 22em;
    background-image: url(../../alma/images/eu-arc-nodes.jpgxx);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0px;
    margin-bottom: 0px;
}

/* alma status */
#alma-news-div .portlet.portletStaticText.portlet-static-status .portletContent {
    height: 22em;
    background-image: linear-gradient(180deg, rgba(255,255,255,.0) 32%, rgba(0,0,60,.3) 67%, rgba(0,0,60,.3) 100%), url('../../alma/images/alma-status.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 0px;
    
}
#alma-news-div .portlet.portletStaticText.portlet-static-status .portletContent p > * {
    color: white;
}

.portlet .portletStaticText .portlet-static-status {
    background: rgba(231, 230, 230, 0.1);
}

.portletWrapper > aside {
    margin-top: 0px;   
    margin-bottom: 0px;   
    margin-left: 0px;   
    margin-right: 0px;  
    box-shadow: 0px;

}

#alma-menus > #portal-globalnav-wrapper  {
    background-color: #00437f;
    height: 100px;
    box-shadow: 0px 0px;
    margin-bottom: 0px;
    padding: 20px;
}

#alma-news-div > * .portlet {
    box-shadow: 0px 0px;
}

#plone-document-byline {
    display: none;
}

#alma-menus {
    display: inline-block;
    /*width: 55%;*/
    background-color: #00437f;
    height: 125px;
}

#portal-searchbox {
    margin: 15px;
}

#portal-top {
    margin: 0px;
}

#portal-logo {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

#alma-label-img {
    display: inline-block;
}

#portal-top #portal-header {
    margin-bottom: 0px;
    margin-top: 0px;
}

#portal-logoxxx img {
    margin: 10px;
    margin-left: 16px;
}

.plone-navbar-nav > li label {
    display:none;
}

#alma-news-div .portlet .portletFooter {
    padding-left: 0px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
}

#mainnavigation > * .plone-nav > * li a {
    width: 30em;
    display: inline-block;
}

#mainnavigation > * .plone-nav .has_subtree .has_subtree > ul {
    left: 34em;
}

#portal-header {
    height:130px;
}

#searchGadget_form {
    display: none;
}

.loop {
    float: left;
    height: 50px;
    width: 50px;
}